run = ["python", "manage.py", "runserver", "0.0.0.0:3000"]
entrypoint = "manage.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "gitFull", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "playwright-driver", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[deployment]
run = ["python", "manage.py", "runserver", "0.0.0.0:3000"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true

[userenv]

[userenv.shared]
DJANGO_SECRET_KEY = "su@@5yrfdx)oy&6am3n(-f*k&#h8$aucd0fxxcdsev+eo)#!0-"
