
/* Custom Admin Styles */

@media (min-width: 1150px) {
  .columns-2 {
    columns: 2
  }
  .columns-2 > h2 { column-span: all }
}

.even-selects select {
  width: 125px; 
}


.aligned label {
  min-width: 100px;
  width: 100px;
}