:root {
  --pad: 28px 42px;
  --padlil: 7px 21px;
  --goldenrod: #d7bd19;
    --goldenrod: #ff8929;
}

.pad { padding: var(--pad) }

.padlil { padding: var(--padlil) !important }
.no-pad { padding: 0 !important }
.no-marg { margin: 0 }

a {
  text-decoration: none; 
  color: inherit }