/* ================================
   HOT STUFF LOGO
   logo in header
 =================================*/

header .logo {}
  header .logo span {
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'Impact' }

nav.page {
  display: flex;
  justify-content: space-evenly }

  nav.page a {
    font-family: 'Carton';
    text-align: center }



.banner {
  text-align: center;
  color: #FFF;
  background-size: 300%;
  background: url('../img/checkerboard.png'), #FFF }
.banner h1 {
  background: url('../img/black-orchid.png'),rgba(0, 0, 0, .5) }

.paper {
  padding: var(--pad);
  color: #222;
  background: url('../img/45-degree-fabric-light.png'), #EFEFEF }