/* ================================
   HOT STUFF MAIN TEMPLATE
   colors and layouts
 =================================*/

html, body { padding: 0; margin: 0 }

html {
  font-family: 'Lucida Grande' }

body { background: linear-gradient(to bottom, rgba(255, 137, 41, .3), rgba(0, 0, 0, 1)) }

h1, h2, h3, h4, h5 h6 { margin: 0 }

h1 {
  text-align: center;
  font-size: 72px;
  font-family: 'Carton' }



.content-size {
  max-width: 900px;
  margin: auto }

.content-card {
  color: var(--goldenrod);
  font-size: 16px;
  border: 1px solid var(--goldenrod);
  background: #6e1212;
  margin-bottom: 21px;
  padding: var(--pad) }