:root {
  --pad: 28px 42px;
  --padextra: 35px 63px;
  --padlil: 7px 21px;
  --goldenrod: #d7bd19;
  --hf-red: #6e1212;

  --content-size: 800px;
}

.pad { padding: var(--pad) }
.padextra { padding: var(--padextra) }
.padlil { padding: var(--padlil) !important }
.no-pad { padding: 0 !important }
.no-marg { margin: 0 }

a {
  text-decoration: none; 
  color: inherit }

.tall { text-transform: uppercase }