/* ================================
   HOT STUFF LOGO
   logo in header
 =================================*/

header .logo {}
  header .logo span {
    font-size: 54px;
    text-transform: uppercase;
    color: var(--hs-red);
    font-family: 'Impact' }

nav.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly }

  nav.page div {
    font-family: 'Carton';
    display: flex;
    justify-content: center;
    width: 100% }
    
  nav.page div a {
    text-align: center;
    width: 100% }




.paper {
  color: #222;
  background: url('../img/45-degree-fabric-light.png'), #EFEFEF }