
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="print-color-adjust" content="exact">

<link rel="stylesheet" href="{% static 'css/fontface/carton.css' %}">
<link rel="stylesheet" href="{% static 'css/pages.css' %}">
<link rel="stylesheet" href="{% static 'css/templates.css' %}">
<link rel="stylesheet" href="{% static 'css/organisms.css' %}">
<link rel="stylesheet" href="{% static 'css/molecules.css' %}">
<link rel="stylesheet" href="{% static 'css/atoms.css' %}">